

body, main {

    background-color:black;
    font-family: 'Open Sans', sans-serif;
    line-height: 24px;
    font-size: 16px;
    color: #818181;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: nowrap;
    color: white;

}

#heading {
  margin-right: 60px;
  font-size: 5em;
}
h1 {
  text-align: center;
  font-family: 'Bangers', cursive;
  color: white;
  margin-right: 20px;


}
#formDiv {
  margin-left: 100px;
}

.btn {

}
li {
  list-style: none;
  border: solid white 1px;
  padding: 40px;
  border-radius: 20px;
  margin: 10%

}

li:hover {

box-shadow: -1px 2px 30px 0px rgba(230,218,230,1);
}

span {
  font-weight: bold;

}
